*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #F1DEDE,#D496A7,#5D576B,#6CD4FF,#FE938C );
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
   
@keyframes color{
    0%{
        background-position: 0 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0 50% ;
    }

}

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem
    
   
}

.nav-item:hover{
    color: white;
    font-size: 18px;
}
.nav-item:first-child{
    margin-right: auto;
    color: white;
    font-size: 25px;
    
}
.aboutme{
    height: 500px;
    width: 700px;
    margin-left: 20rem;
    font-size: 200%;
    text-align: verticle;
    text-overflow: none;
}
.aboutme h1{
    position: relative;
    left: -275px;
}
.aboutme p{
    position: relative;
    left: -275px;
}
.wip{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  

}
.card{
    color: white;
    background-image: url(images/Victory-shop-shot-.jpg);
    background-size: cover;
    padding: 11rem 0 0;
    max-width: 35ch;
    border-radius: 1rem ;
    overflow: hidden;

    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.05);
}

.card2{
    color: white;
    background-image: url(images/DRone-law-1.jpg);
    background-size: cover;
    padding: 11rem 0 0;
    max-width: 35ch;
    border-radius: 1rem ;
    overflow: hidden;

    transition: transform 500ms ease;
}
.card2:hover{
    transform: scale(1.05);
}
.card3{
    color: white;
    background-image: url(images/UrbanDaybreak2-1.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem ;
    overflow: hidden;

    transition: transform 500ms ease;
}
.card3:hover{
    transform: scale(1.05);
}


.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    margin-bottom: 0;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 10%,
        hsl(0 0% 0% / 1)
    );
    font-size: 15px;
}
.card-title{
    position: relative;
    width: max-content;
   
}
.card-title::after{
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: #6CD4FF;
    transform: scale(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
.card:hover .card-title::after{
    transform:scale(1);
}
.card2:hover .card-title::after{
    transform:scale(1);
}
.card3:hover .card-title::after{
    transform:scale(1);
}
.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #6CD4FF;
    padding: 0.5em 1.25em;
    border-radius: .25em;
}
.button:hover, 
.button:focus{
    background-color: #D496A7;
}